
@{
    ViewBag.Title = "Index";
}

<h2>Recipe</h2>
<div class="row">
    <div class="col col-sm-4 recipe_img_table">
        <div class="row">
            <img src="~/RecipeImageFiles/1_1.jpg" style="width:90%" />
        </div>
        <div class="row">
            <p style="font-size:smaller;">
                @Html.ActionLink("2018-04-09", "Index", "ReadRecipe", 0, null)
            </p>
        </div>
        <div class="row">
            <p>Honey Garlic Salmon Lo Mein Meal Prep Recipe</p>
        </div>
    </div>
    <div class="col col-sm-4 recipe_img_table">
        <div class="row">
            <img src="~/RecipeImageFiles/2_1.jpg" style="width:90%" />
        </div>
        <div class="row">
            <p style="font-size:smaller;">2018-04-09</p>
        </div>
        <div class="row">
            <p>Honey Garlic Salmon Lo Mein Meal Prep Recipe</p>
        </div>
        </div>
    <div class="col col-sm-4 recipe_img_table">
        <div class="row">
            <img src="~/RecipeImageFiles/3_1.jpg" style="width:90%" />
        </div>
        <div class="row">
            <p style="font-size:smaller;">2018-04-09</p>
        </div>
        <div class="row">
            <p>Honey Garlic Salmon Lo Mein Meal Prep Recipe</p>
        </div>
    </div>
    </div><br />
<div class="row">
    <div class="col col-sm-4 recipe_img_table">
        <div class="row">
            <img src="~/RecipeImageFiles/4_1.jpg" style="width:90%" />
        </div>
        <div class="row">
            <p style="font-size:smaller;">2018-04-09</p>
        </div>
        <div class="row">
            <p>Honey Garlic Salmon Lo Mein Meal Prep Recipe</p>
        </div>
    </div>
    <div class="col col-sm-4 recipe_img_table">
        <div class="row">
            <img src="~/RecipeImageFiles/5_1.jpg" style="width:90%" />
        </div>
        <div class="row">
            <p style="font-size:smaller;">2018-04-09</p>
        </div>
        <div class="row">
            <p>Honey Garlic Salmon Lo Mein Meal Prep Recipe</p>
        </div>
    </div>
    <div class="col col-sm-4 recipe_img_table">
        <div class="row">
            <img src="~/RecipeImageFiles/6_1.jpg" style="width:90%" />
        </div>
        <div class="row">
            <p style="font-size:smaller;">2018-04-09</p>
        </div>
        <div class="row">
            <p>Honey Garlic Salmon Lo Mein Meal Prep Recipe</p>
        </div>
    </div>
</div>

