@model IEnumerable<RecipeWorld.Models.RecipeFile>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var RecipeFile in Model)
    {
        <div class="col-md-3">
            <img src='~/RecipeImageFiles/@RecipeFile.ImgFile' class="savedimage" onclick="remove_saved_img(@RecipeFile.RecipeId, @RecipeFile.Id)" />
        </div>
    }
</div>
